/*
 * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/* 1. 硬件配置：启用中间旋钮 */
&mid_encoder { status = "okay"; };

&sensors {
    status = "okay";
    sensors = <&mid_encoder>;
};

/ {
    /* 暂时不写 behaviors，先测试基础功能 */

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* * 纯净版测试：
             * 左上角放一个普通的 A 键，
             * 中间放播放暂停 (C_PP)，
             * 其余全部为空 (&none)
             */
            bindings = <
                &kp A      &kp C_PP      &none
                &none      &none         &none
                &none      &none         &none
            >;

            sensor-bindings = <&inc_dec_kp PAGE_DOWN PAGE_UP>;
        };
    };
};